<header>
  <div class="nav">
    <div class="nav__left">
      <%= link_to root_path do %>
        <%= image_tag("logo.png", class: :logo) %>
        <p class="logo_title">Original Calendar</p>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="nav__right">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
        <%= link_to "マイページ", edit_user_registration_path, class: :nav__btn %>
      </div>
    <% else %>
      <div class="nav__right">
        <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
    <% end %>
  </div>
</header>