<%= month_calendar events: events do |date, events| %>
  <%= date.day %>

  <ul class="calendar-event-title-li">
    <% events.each do |event| %>
      <% if event.label_color == "white" %>
        <li><span class="<%= event.label_color %>">◯</span> <%= link_to event.title, event_path(event.id), class: "calendar-event-title" %></li>
      <% else %>
        <li><span class="<%= event.label_color %>">●</span> <%= link_to event.title, event_path(event.id), class: "calendar-event-title" %></li>
      <% end %>
      
    <% end %>
  </ul>
<% end %>
