
<div class="wrapper">
  <div class="weather-forecast">
    <input type= "hidden" value= <%= @city_en %> class= 'city' >
    <p class="weather-title">Weather forecast : <%= @city %></p>
    <div class="weather" id="weather"></div>
  </div>

  <div class="event-calendar" id="events_calendar">
    <%= render partial: "calendar", locals: {events: @events} %>
  </div>

  <div class="event-lists-header">
  </div>
  <div class="event-lists">
    <% @eventLists.each do |event| %>
    <div class="event-list">
      <div class="event-lists-time">
        <p><%= l event.start_time, format: :middle %></p>
        <p class="event-time-rotate">〜</p>
        <p><%= l event.end_time, format: :middle %></p>
      </div>
      <p class="event-list-title"><%= link_to event.title, event_path(event.id)%></p>
      <p class="event-list-content"><%= link_to event.content, event_path(event.id)%></p>
    </div>
    <% end %>
  </div>



  <%# <aside id="aside" style="left:-450px;"> %>
  <aside id="aside">
    <div class="aside_container">
      <div class="posts-form">
        <%= render 'posts/form'%>
      </div>

      <div class="posts">
        <%= render 'posts/posts', posts: @posts %>
      </div>

      <button id="aside-button"><img src="/assets/memo-icon1.png" id="memo-icon"></button>
    </div>
  </aside>
</div>