<%= form_for(@event) do |f| %>
<div class="event-new-main">
  <div class="event-new-wrap">
    <h1 class='event-new-header'>
      New Event
    </h1>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="event-new-form-group">
      <div class='form-text-wrap'>
        <%= f.label :title, class:"form-text" %>
      </div>
      <%= f.text_field :title, class:"input-default", placeholder:"予定を入力してください" %>
    </div>

    <div class="event-new-form-group">
      <div class='form-text-wrap'>
        <%= f.label :content, class:"form-text" %>
      </div>
      <%= f.text_area :content, class:"content-input-default", placeholder:"内容を入力してください" %>
    </div>

    <div class="event-new-time-form-group">
      <div class="select-time-title">
        <%= f.label :start_time, class:"form-text" %>
      </div>
      <label>
        日付：<%= f.datetime_select :start_time, {datetime_separator: '<h4">　　　時間：</h4>'}, class:"datetime-select" %>
      </label>
    </div>

    <div class="event-new-time-form-group">
      <div class="select-time-title">
        <%= f.label :end_time, class:"form-text" %>
      </div>
      <label>
        日付：<%= f.datetime_select :end_time, {datetime_separator: '<h4">　　　時間：</h4>'}, class:"datetime-select" %>
      </label>
    </div>

    <div class='register-btn'>
      <%= f.submit "イベント作成" ,class:"register-blue-btn" %>
    </div>

    <%= link_to 'Back', events_path %>
  </div>
</div>
<% end %>

