<%= form_for(@event) do |f| %>
<div class="event-new-main">
  <div class="event-new-wrap">
    <h1 class='event-new-header'>
      New Event
    </h1>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="event-new-form-group">
      <div class='form-text-wrap'>
        <%= f.label :title, class:"form-text" %>
      </div>
      <%= f.text_field :title, class:"input-default", placeholder:"予定を入力してください" %>
    </div>

    <div class="event-new-form-group">
      <div class='form-text-wrap'>
        <%= f.label :content, class:"form-text" %>
      </div>
      <%= f.text_area :content, class:"content-input-default", placeholder:"内容を入力してください" %>
    </div>

    <div class="event-new-time-form-group">
      <div class="select-time-title">
        <%= f.label :start_time, class:"form-text" %>
      </div>
      <div>
        日付：<%= f.datetime_select :start_time, {datetime_separator: '<br><h4">時間：</h4>'}, class:"datetime-select" %>
      </div>
    </div>

    <div class="event-new-time-form-group">
      <div class="select-time-title">
        <%= f.label :end_time, class:"form-text" %>
      </div>
      <label>
        日付：<%= f.datetime_select :end_time, {datetime_separator: '<br><h4">時間：</h4>'}, class:"datetime-select" %>
      </label>
    </div>

    <div class="event-new-time-form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ラベルカラー</label>
      </div>
      <div class="label_color">
        <label>
          <%= f.radio_button :label_color, :white, class: "label_color_radio_btn", checked: true %>
          <span>◯</span>
        </label>
        <label>
          <%= f.radio_button :label_color, :red , class: "label_color_radio_btn" %>
          <span style="color: rgb(255, 156, 174)">●</span>
        </label>
        <label>
          <%= f.radio_button :label_color, :pink , class: "label_color_radio_btn" %>
          <span style="color: rgb(255, 209, 240)">●</span>
        </label>
        <label>
          <%= f.radio_button :label_color, :orange , class: "label_color_radio_btn" %>
          <span style="color: rgb(252, 208, 133)">●</span>
        </label>
        <label>
          <%= f.radio_button :label_color, :green , class: "label_color_radio_btn" %>
          <span style="color: rgb(184, 255, 196)">●</span>
        </label>
        <label>
          <%= f.radio_button :label_color, :blue , class: "label_color_radio_btn" %>
          <span style="color: rgb(164, 218, 250)">●</span>
        </label>
        <label>
          <%= f.radio_button :label_color, :purple , class: "label_color_radio_btn" %>
          <span style="color: rgb(217, 164, 250)">●</span>
        </label>
        <label>
          <%= f.radio_button :label_color, :brown , class: "label_color_radio_btn" %>
          <span style="color: rgb(194, 177, 157)">●</span>
        </label>
      </div>
    </div>

    <div class='register-btn'>
      <%= f.submit "イベント作成" ,class:"register-blue-btn" %>
    </div>

    <%= link_to 'Back', events_path %>
  </div>
</div>
<% end %>

