<div class="event-show-main">
  <div class="event-show-wrap">

    <div class="show-event-content">
      <span>time：</span>
      <p><%= l @event.start_time, format: :middle %></p>
      <p><%= l @event.end_time, format: :middle %></p>
    </div>

    <div class="show-event-content">
      <span>title：</span>
      <p><%= @event.title %></p>
    </div>

    <div class="show-event-content">
      <span>content：</span>
      <p><%= @event.content %></p>
    </div>

    <div class="link-btn">
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>  |
      <%= link_to image_tag("trash_box.png", class:"trash_box"), event_path, method: :delete, data: { confirm: '削除しますか?' } %>
    </div>
    
  </div>
</div>
